<!DOCTYPE html>
<html>
  <head>
    <title>Audio Client</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/content/audio.js"></script>
  </head>
  <body>
    I'm gonna need you to hang out here, and sometimes I'll play some noise.
  </body>
</html>
