<!DOCTYPE html>
<html>
  <head>
    <title>Streaming Control Panel</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/content/control.js"></script>
    <style type="text/css">
    *{
      box-sizing: border-box;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100vh;
      align-content: flex-start;
      padding: 0;
      margin: 0;
    }

    body>div {
      border: 1px solid gray;
      margin-top: 1em;
      width: 30%;
      padding: 1em;
      margin-left: 1em;
    }

    #audio_control {
      max-height: 90vh;
      overflow: auto;
    }
    label{
      display:flex;
      padding: 4px;
      max-width: 400px;
    }
    label>span{
      width: 20%;
      text-align: right;
      font-weight: bold;
      margin-right: 5px;
    }
    label>span::after{
      content:': ';
    }
    label [type="text"],label [type="number"]{
      max-width: 200px;
    }
    button[type="submit"]{
      font-weight:bold;
    }
    div.buttons{
      max-width:400px;
    }
    div.buttons button[type="button"]{
      display:inline-block;
      width:20%;
      margin-right:3px;
    },
    .audio-link{
      cursor: pointer;
    }
    .audio-link:hover{
      background: darkgray;
      text-decoration: underline;
      color:navy;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="/content/basic.min.css" />
  </head>
  <body>
    <div id="now_playing">
      <form v-on:submit.prevent="update">
        <h1>Now Playing</h1>
        <div>
          <label>
            <span>Title</span><input type="text" v-model.trim="title" />
          </label>
        </div>
        <div>
          <label>
            <span>Game</span><input type="text" v-model.trim="game" />
          </label>
        </div>
        <div class="buttons">
          <button type="button" v-on:click="refresh">Reset</button>
          <button type="submit" v-on:click="update">Update Overlay</button>
        </div>
      </form>
    </div>
    <div id="webcam">
      <form>
        <h1>Webcam</h1>
        <div>
          <label>
            <input type="checkbox" v-model="enabled" />
            {{ enabled ? 'Visible' : 'Hidden' }}
          </label>
        </div>
      </form>
    </div>
    <div id="test_donation">
      <form v-on:submit.prevent="display">
        <h1>Test Donation</h1>
        <div>
          <label>
            <span>From</span><input type="text" v-model="donorName" required />
          </label>
        </div>
        <div>
          <label>
            <span>To</span><input type="text" v-model="name" required />
          </label>
        </div>
        <div>
          <label>
            <span>Amount</span><input type="number" v-model.number="amount" required />
          </label>
        </div>
        <div>
          <label>
            <span>Message</span><input type="text" v-model="message" />
          </label>
        </div>
        <div class="buttons">
          <button type="button" v-on:click="clear">Clear</button>
          <button type="submit">Display Notification</button>
        </div>
      </form>
    </div>
    <div>
      <h1>Upload Audio</h1>
      <form action="/api/audio" class="dropzone" id="audioUpload"></form>
    </div>
    <div id="audio_control">
      <h1>Audio Files</h1>
      <div v-for="file in files" class="audio-link" @click="playFile(file)">{{file}}</div>
    </div>
    <script type="text/javascript" src="/content/dropzone.min.js"></script>
    <script type="text/javascript">
    Dropzone.options.audioUpload = {
      paramName: 'sound',
      init: function(){
        this.on('error', (error, msg, xhr) => {
          if(msg==='420'){
            alert('Yo, chill out man... that like, file has already been uploaded.');
          }
        });
      }
    };
    </script>
  </body>
</html>