<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>It's a stream thing</title>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="/content/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>